@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/jost/Jost-Regular.woff2") format("woff2"), url("../fonts/jost/Jost-Regular.woff") format("woff"); }
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope/Manrope-Medium.woff2") format("woff2"), url("../fonts/manrope/Manrope-Medium.woff") format("woff"); }
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope/Manrope-Regular.woff2") format("woff2"), url("../fonts/manrope/Manrope-Regular.woff") format("woff"); }
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/manrope/Manrope-SemiBold.woff") format("woff"); }
* {
  padding: 0;
  margin: 0; }

body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #747679;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #FEFDFC; }

button, textarea, input {
  border: none;
  outline: none;
  background-color: inherit; }

a {
  text-decoration: none;
  color: #747679; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #4E5052; }

h1, h2 {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 67.2px;
  letter-spacing: 0.02em; }
  @media (max-width: 1401px) {
    h1, h2 {
      font-size: 34px;
      line-height: 48px; } }
  @media (max-width: 991px) {
    h1, h2 {
      font-size: 28px; } }
  @media (max-width: 560px) {
    h1, h2 {
      font-size: 21px;
      line-height: 30px; } }

h3 {
  font-size: 24px; }

a, li, p, button {
  font-size: 16px; }

button, input {
  font-family: "Manrope", sans-serif; }

p {
  line-height: 24px; }

img {
  width: 100%;
  object-fit: cover; }

@media (max-width: 991px) {
  br {
    display: none; } }

.container {
  max-width: 1160px;
  margin: 0 auto; }
  @media (max-width: 1420px) {
    .container {
      padding: 0 30px; } }
  @media (max-width: 991px) {
    .container {
      padding: 0 20px; } }
  @media (max-width: 560px) {
    .container {
      padding: 0 10px; } }

.title-wrapper {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .title-wrapper {
      justify-content: center; } }

.line {
  height: 3px;
  background-color: #C1B49B;
  flex: 1 auto;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .line {
      display: none; } }

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #AA9C85;
  border-radius: 7px;
  padding: 13px 40px;
  font-size: 14px;
  transition: background 0.5s;
  cursor: pointer; }
  .button:hover {
    background-color: #C1B49B; }
  @media (max-width: 991px) {
    .button {
      font-size: 15px; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -100;
  opacity: 0;
  pointer-events: auto;
  visibility: hidden;
  transition: all 0.5s; }
  @media (max-width: 768px) {
    .popup {
      background-color: #FEFDFC; } }
  .popup--open {
    opacity: 1;
    z-index: 10000;
    pointer-events: auto;
    visibility: visible; }
  .popup__body {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEFDFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 760px;
    padding: 67px 100px; }
    @media (max-width: 768px) {
      .popup__body {
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 55px 10px 34px 10px;
        top: auto;
        left: auto;
        transform: translate(0, 0); } }
  .popup__title {
    font-size: 40px;
    margin-bottom: 15px; }
    @media (max-width: 768px) {
      .popup__title {
        font-size: 21px; } }
  .popup__text {
    font-size: 20px;
    margin-bottom: 47px; }
    @media (max-width: 768px) {
      .popup__text {
        font-size: 15px;
        margin-bottom: 40px; } }
  .popup__politic {
    font-size: 10px;
    color: #959595; }
  .popup__letter {
    margin-top: 50px;
    font-size: 20px;
    text-align: center; }
    @media (max-width: 768px) {
      .popup__letter {
        font-size: 14px;
        margin-top: 30px; } }
  .popup__messenger {
    text-decoration: underline; }
    .popup__messenger--telegram {
      color: #0088cc; }
    .popup__messenger--whatsapp {
      color: #43d854; }
  .popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .form__label {
    padding: 5px;
    margin-bottom: 32px;
    border-bottom: 1px solid #888B8F; }
  .form__input {
    width: 100%; }
    .form__input::placeholder {
      font-size: 14px;
      color: #A4A4A4; }
  .form__button {
    margin-bottom: 13px; }

.menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  background-color: #FEFDFC;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.04);
  height: 90%;
  width: 100%;
  z-index: 1000; }
  @media (max-height: 620px) {
    .menu-mobile {
      height: 100%; } }
  .menu-mobile--mobile-open {
    display: block; }
  .menu-mobile__body {
    position: relative; }
  .menu-mobile__keeping {
    flex-direction: column;
    margin-bottom: 110px; }
  .menu-mobile__close {
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer; }
  .menu-mobile__items:not(:last-child) {
    margin-bottom: 30px; }
  .menu-mobile__logo {
    padding-top: 13px;
    padding-left: 12px;
    margin-bottom: 123px; }
  .menu-mobile__logo-svg {
    max-width: 210px;
    height: 25px; }
  .menu-mobile__close-svg {
    width: 13px;
    height: 13px; }
  .menu-mobile__social {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu-mobile__items-social {
    font-size: 20px !important;
    color: #747679 !important;
    text-decoration: underline; }
    .menu-mobile__items-social:not(:last-child) {
      margin-bottom: 26px; }
  .menu-mobile__close-svg {
    width: 25px;
    height: 25px; }

.header__container {
  max-width: 1360px;
  margin: 0 auto; }
  @media (max-width: 1420px) {
    .header__container {
      padding: 0 30px; } }
  @media (max-width: 991px) {
    .header__container {
      padding: 0 20px; } }
  @media (max-width: 560px) {
    .header__container {
      padding: 0 10px; } }
  @media (max-width: 1078px) {
    .header__container--mobile {
      padding: 0; } }
.header--scroll {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100000; }
  .header--scroll .header__wrapper {
    width: 100%; }
  .header--scroll .header__container {
    width: 100%; }
  .header--scroll .header__bottom {
    margin-bottom: 0; }
.header__wrapper {
  background-color: #EFEFEF;
  padding: 10px 0 10px 0; }
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between; }
.header__contacts {
  display: flex;
  align-items: center;
  gap: 13px; }
.header__contacts-info {
  max-width: 20px;
  max-height: 20px; }
@media (max-width: 768px) {
  .header__deliver {
    display: none; } }
.header__deliver-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #4E5052;
  border: 1px solid #B4B7BB;
  border-radius: 10px;
  padding: 7px 16px; }
  .header__deliver-text:before {
    content: url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00033 0.666504C2.77949 0.666504 0.166992 3.279 0.166992 6.49984C0.166992 10.8748 6.00033 17.3332 6.00033 17.3332C6.00033 17.3332 11.8337 10.8748 11.8337 6.49984C11.8337 3.279 9.22116 0.666504 6.00033 0.666504ZM6.00033 8.58317C4.85033 8.58317 3.91699 7.64984 3.91699 6.49984C3.91699 5.34984 4.85033 4.4165 6.00033 4.4165C7.15033 4.4165 8.08366 5.34984 8.08366 6.49984C8.08366 7.64984 7.15033 8.58317 6.00033 8.58317Z' fill='%23C5B9A5'/%3E%3C/svg%3E%0A");
    margin-right: 12px;
    transform: translateY(2px); }
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 107px;
  padding: 30px 0 0 0; }
  @media (max-width: 1078px) {
    .header__bottom {
      padding: 14px 30px;
      background-color: #FEFDFC;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); } }
  @media (max-width: 991px) {
    .header__bottom {
      padding: 14px 20px; } }
  @media (max-width: 560px) {
    .header__bottom {
      padding: 14px 10px; } }
@media (max-width: 1078px) {
  .header__navigation {
    display: none; } }
.header__navigation--mobile-open {
  position: fixed;
  display: block;
  background: #FEFDFC;
  width: 100%;
  height: 80vh;
  top: 0;
  z-index: 100000; }
.header__keeping {
  display: flex;
  align-items: center;
  gap: 30px; }
  @media (max-width: 1120px) {
    .header__keeping {
      gap: 15px; } }
.header__logo {
  display: flex;
  max-height: 22px; }
  @media (max-width: 560px) {
    .header__logo {
      max-width: 220px; } }
@media (max-width: 768px) {
  .header__contacts-items--hide {
    display: none; } }
.header__contacts-info {
  transform: translateY(2px); }
.header__contacts-link {
  color: #4E5052; }
  @media (max-width: 768px) {
    .header__contacts-link {
      font-size: 16px; } }
  .header__contacts-link--mail {
    display: flex;
    align-items: center; }
    @media (max-width: 768px) {
      .header__contacts-link--mail {
        font-size: 12px;
        color: #8E9194; } }
    .header__contacts-link--mail:before {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.65527 6.14069V17.8692L7.51955 12.005L1.65527 6.14069ZM2.82051 4.96552L10.2448 12.3898C11.1824 13.3274 12.8178 13.3274 13.7554 12.3898L21.1797 4.96552H2.82051Z' fill='%23C2B697'/%3E%3Cpath d='M14.9253 13.56C14.1448 14.3412 13.1054 14.7724 11.9997 14.7724C10.8941 14.7724 9.85463 14.3412 9.07422 13.56L8.68939 13.1752L2.83008 19.0345H21.1694L15.3101 13.1752L14.9253 13.56ZM16.4803 12.005L22.3446 17.8692V6.14069L16.4803 12.005Z' fill='%23C2B697'/%3E%3C/svg%3E%0A");
      margin-right: 9px;
      margin-left: 21px;
      transform: translateY(2px); }
      @media (max-width: 768px) {
        .header__contacts-link--mail:before {
          content: none; } }
.header__keeping-items {
  overflow: hidden; }
  .header__keeping-items:hover .header__keeping-link:before {
    content: "";
    left: 0; }
.header__keeping-link {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  position: relative; }
  .header__keeping-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #747679;
    left: -100%;
    transition: all 0.5s; }
.header__burger-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C1B49B;
  cursor: pointer; }
  @media (max-width: 1078px) {
    .header__burger-wrapper {
      display: flex;
      margin: 0 0 0 auto; } }
.header__burger {
  width: 20px;
  height: 14px; }
.header__mobile {
  display: none; }
  @media (max-width: 768px) {
    .header__mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-end; } }

@media (max-width: 768px) {
  .hero {
    text-align: center; } }
.hero__title {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 15px; }
.hero__title-letter {
  color: #9DA0A6; }
.hero__wrapper {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .hero__wrapper {
      flex-direction: column;
      align-items: center; } }
.hero__button-wrapper {
  z-index: 100; }
.hero__text {
  font-size: 20px;
  max-width: 660px; }
  @media (max-width: 991px) {
    .hero__text {
      font-size: 15px;
      max-width: none; } }
  @media (max-width: 768px) {
    .hero__text {
      margin-bottom: 20px; } }
.hero__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  min-height: 165px;
  background-color: #AA9C85;
  color: white;
  border-radius: 50%;
  transition: background 0.5s;
  cursor: pointer;
  margin-right: 190px; }
  .hero__button:before {
    content: "";
    position: absolute;
    border: 2px solid #AA9C85;
    min-width: 165px;
    min-height: 165px;
    border-radius: 50%;
    animation: pulse 1500ms infinite ease-in-out;
    z-index: -1; }
  @media (max-width: 1400px) {
    .hero__button {
      margin-right: 0; } }
  .hero__button:hover {
    background-color: #C1B49B; }
.hero__button-figure {
  position: absolute;
  bottom: -14px;
  left: -75px;
  z-index: -2; }
.hero__button-path {
  fill: white; }
.hero__button-figure {
  pointer-events: none; }
@keyframes pulse {
  0% {
    min-height: 145px;
    min-width: 145px;
    opacity: 1; }
  100% {
    min-height: 190px;
    min-width: 190px;
    opacity: 0; } }
.gallery {
  margin-top: -40px; }
  .gallery__swiper {
    margin-bottom: 160px; }
    @media (max-width: 768px) {
      .gallery__swiper {
        margin-bottom: 90px; } }
  .gallery__img {
    max-height: 700px; }
    @media (max-width: 768px) {
      .gallery__img {
        object-fit: cover;
        min-height: 570px; } }

.device__title-wrapper {
  margin-bottom: 67px; }
  @media (max-width: 991px) {
    .device__title-wrapper {
      margin-bottom: 27px; } }
.device__items {
  display: flex;
  align-items: stretch;
  gap: 60px; }
  .device__items--reverse {
    flex-direction: row-reverse; }
    @media (max-width: 991px) {
      .device__items--reverse {
        flex-direction: column; } }
  @media (max-width: 991px) {
    .device__items {
      flex-direction: column;
      gap: 22px; } }
.device__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 30px); }
  @media (max-width: 991px) {
    .device__block {
      text-align: center;
      align-items: center;
      width: 100%;
      justify-content: flex-start; } }
  .device__block--img {
    background-image: url("../img/device/1.jpg");
    background-repeat: no-repeat;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    background-size: cover;
    overflow: hidden;
    min-height: 430px; }
    @media (max-width: 991px) {
      .device__block--img {
        min-height: 330px; } }
    @media (max-width: 560px) {
      .device__block--img {
        min-height: 240px; } }
.device__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 96px;
  margin-bottom: 160px; }
  @media (max-width: 991px) {
    .device__item-wrapper {
      gap: 50px;
      margin-bottom: 90px; } }
.device__items-title {
  margin-bottom: 19px;
  color: #4E5052;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: 0.02em; }
  @media (max-width: 991px) {
    .device__items-title {
      font-size: 18px; } }
.device__list-title {
  margin: 20px 0 7px 0;
  font-weight: 600;
  color: #4E5052; }
  .device__list-title--not-list {
    margin-bottom: 24px; }
.device__list {
  margin-bottom: 24px; }
  @media (max-width: 560px) {
    .device__list {
      padding-left: 20%; } }
.device__list-items {
  display: flex;
  align-items: center;
  text-align: left; }
  .device__list-items:before {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23C1B49B'/%3E%3C/svg%3E%0A");
    margin-right: 9px;
    transform: translateY(-3px); }
  .device__list-items:not(:last-child) {
    margin-bottom: 5px; }
  @media (max-width: 991px) {
    .device__list-items {
      font-size: 15px; } }
@media (max-width: 991px) {
  .device__text {
    font-size: 15px; } }
.device__text--space {
  margin-bottom: 15px; }
@media (max-width: 991px) {
  .device__list-title {
    font-size: 15px; } }
.device__button {
  max-width: 180px; }
  @media (max-width: 991px) {
    .device__button {
      max-width: 250px;
      width: 100%; } }

.img-2 {
  background-image: url("../img/device/2.jpg"); }

.img-3 {
  background-image: url("../img/device/3.jpg"); }

.img-4 {
  background-image: url("../img/device/4.jpg"); }

.photo__title-wrapper {
  margin-bottom: 67px; }
  @media (max-width: 991px) {
    .photo__title-wrapper {
      margin-bottom: 35px; } }
  @media (max-width: 768px) {
    .photo__title-wrapper {
      margin-bottom: 14px; } }
.photo__title {
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .photo__title {
      text-align: center; } }
.photo__title-letter {
  color: #9DA0A6; }
.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px; }
.photo__items {
  width: calc(25% - 7.5px); }
  @media (max-width: 1400px) {
    .photo__items {
      width: calc(33.33% - 6.7px); } }
  @media (max-width: 768px) {
    .photo__items {
      width: calc(50% - 5px); } }
.photo__img {
  height: 100%;
  object-fit: cover; }

.value__title-wrapper {
  margin-bottom: 67px; }
  @media (max-width: 768px) {
    .value__title-wrapper {
      margin-bottom: 27px;
      text-align: center; } }
  .value__title-wrapper--blog {
    margin-bottom: 0; }
.value__text {
  margin-bottom: 57px; }
  @media (max-width: 768px) {
    .value__text {
      text-align: center; } }
.value__item-wrapper {
  display: flex;
  align-items: stretch;
  gap: 50px;
  margin-bottom: 160px; }
  @media (max-width: 768px) {
    .value__item-wrapper--client:after {
      content: "";
      width: 100px;
      height: 3px;
      background-color: #C1B49B;
      margin: 0 auto; } }
  @media (max-width: 991px) {
    .value__item-wrapper {
      flex-wrap: wrap; } }
  @media (max-width: 768px) {
    .value__item-wrapper {
      margin-bottom: 90px; } }
.value__item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33.33% - 34px); }
  @media (max-width: 991px) {
    .value__item {
      width: 100%; } }
  .value__item--four {
    width: calc(25% - 16.667px); }
    @media (max-width: 991px) {
      .value__item--four {
        width: calc(50% - 25px); } }
    @media (max-width: 560px) {
      .value__item--four {
        width: 100%; } }
    .value__item--four:last-child {
      padding-bottom: 40px; }
.value__item-bottom {
  display: flex;
  flex-direction: column;
  flex: 1; }
.value__item-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 33px;
  min-height: 273px; }
  @media (max-width: 768px) {
    .value__item-top {
      margin-bottom: 26px; } }
  .value__item-top--figure {
    min-height: 173px;
    overflow: hidden;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px; }
    @media (max-width: 768px) {
      .value__item-top--figure {
        min-height: 243px; } }
  .value__item-top--design {
    background-image: url("../img/value/1.jpg"); }
  .value__item-top--innovate {
    background-image: url("../img/value/2.jpg"); }
  .value__item-top--comfort {
    background-image: url("../img/value/3.jpg"); }
  .value__item-top--quality {
    background-image: url("../img/value/4.jpg"); }
  .value__item-top--coats {
    background-image: url("../img/blog/1.jpg"); }
  .value__item-top--vine {
    background-image: url("../img/blog/2.jpg"); }
  .value__item-top--want {
    background-image: url("../img/blog/3.jpg"); }
.value__item-title {
  margin-bottom: 18px;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .value__item-title {
      font-size: 18px;
      text-align: center; } }
@media (max-width: 768px) {
  .value__item-text {
    font-size: 15px; } }
.value__item-text--blog {
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .value__item-text--blog {
      text-align: center; } }
.value__link {
  max-width: 180px;
  padding: 13px 0; }
  @media (max-width: 768px) {
    .value__link {
      margin: 0 auto;
      max-width: 250px;
      width: 100%; } }

.quest__border {
  border: 3px solid #56585B;
  border-bottom-left-radius: 48px;
  border-top-right-radius: 48px;
  padding: 10px;
  margin-bottom: 160px; }
  @media (max-width: 991px) {
    .quest__border {
      margin-bottom: 90px; } }
.quest__wrapper {
  padding: 79px 110px 65px 99px;
  background-color: #56585B;
  border-bottom-left-radius: 48px;
  border-top-right-radius: 48px; }
  @media (max-width: 1400px) {
    .quest__wrapper {
      padding: 60px; } }
  @media (max-width: 768px) {
    .quest__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 52px 25px 63px 25px; } }
  @media (max-width: 400px) {
    .quest__wrapper {
      padding: 15px; } }
@media (max-width: 768px) {
  .quest__list-wrapper {
    display: flex;
    justify-content: center; } }
.quest__title {
  font-size: 40px;
  color: #EDE6D8;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 31px; }
  @media (max-width: 1400px) {
    .quest__title {
      font-size: 32px; } }
  @media (max-width: 991px) {
    .quest__title {
      font-size: 21px; } }
  @media (max-width: 768px) {
    .quest__title {
      text-align: center;
      margin-bottom: 20px; } }
.quest__items-wrapper {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1400px) {
    .quest__items-wrapper {
      gap: 50px; } }
  @media (max-width: 768px) {
    .quest__items-wrapper {
      flex-direction: column; } }
.quest__item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 60px); }
  @media (max-width: 768px) {
    .quest__item {
      width: 100%; } }
  .quest__item--contact {
    flex: 1;
    max-width: 474px; }
  .quest__item--form {
    align-items: flex-end; }
    @media (max-width: 768px) {
      .quest__item--form {
        align-items: flex-start; } }
.quest__item-text {
  font-size: 20px;
  color: #F8F8F8;
  margin-bottom: 44px; }
  @media (max-width: 991px) {
    .quest__item-text {
      font-size: 15px; } }
  @media (max-width: 768px) {
    .quest__item-text {
      text-align: center; } }
.quest__list-item:not(:last-child) {
  margin-bottom: 25px; }
.quest__list-link {
  display: flex;
  align-items: center;
  color: #F8F8F8;
  font-size: 20px; }
  @media (max-width: 991px) {
    .quest__list-link {
      font-size: 15px; } }
  .quest__list-link:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 11px; }
  .quest__list-link--tel:before {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23EDE6D8'/%3E%3Cpath d='M13.7985 11.6098C13.4486 11.2644 13.0118 11.2644 12.6641 11.6098C12.3989 11.8728 12.1337 12.1357 11.873 12.4032C11.8016 12.4767 11.7415 12.4923 11.6546 12.4433C11.483 12.3497 11.3002 12.2739 11.1353 12.1714C10.3664 11.6878 9.72234 11.066 9.15181 10.3662C8.86877 10.0186 8.61694 9.64637 8.44088 9.22739C8.40522 9.1427 8.41191 9.08699 8.48099 9.0179C8.7462 8.76161 9.00472 8.49863 9.26547 8.23565C9.62874 7.87016 9.62874 7.44226 9.26324 7.07454C9.05598 6.86505 8.84872 6.66001 8.64145 6.45052C8.42751 6.23658 8.21579 6.0204 7.99961 5.80868C7.64972 5.4677 7.21291 5.4677 6.86524 5.81091C6.59781 6.07389 6.34151 6.34355 6.06962 6.60207C5.81779 6.84053 5.69075 7.13248 5.66401 7.47346C5.62167 8.02839 5.75761 8.55212 5.94928 9.06247C6.34151 10.1188 6.93878 11.0571 7.66309 11.9173C8.64145 13.0807 9.80925 14.0011 11.1754 14.6652C11.7905 14.9639 12.4279 15.1934 13.121 15.2313C13.5979 15.258 14.0124 15.1377 14.3445 14.7655C14.5718 14.5115 14.8281 14.2797 15.0688 14.0368C15.4254 13.6757 15.4276 13.2389 15.0733 12.8823C14.6498 12.4567 14.2242 12.0332 13.7985 11.6098Z' fill='%239A927D'/%3E%3C/svg%3E%0A"); }
  .quest__list-link--whatsapp:before {
    content: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3418 0.0229492C3.95142 0.0229492 0.38086 3.70357 0.378907 8.22788C0.378418 9.77828 0.799317 11.2881 1.59595 12.5946L1.78516 12.905L0.980958 15.9331L3.99341 15.1183L4.28418 15.2961C5.50611 16.0438 6.90699 16.4394 8.33521 16.4399H8.33838C12.7254 16.4399 16.2959 12.759 16.2979 8.23443C16.2986 6.04176 15.4714 3.98027 13.9688 2.42937C12.4661 0.878464 10.4675 0.0237045 8.3418 0.0229492ZM13.0234 11.7557C12.824 12.3317 11.8682 12.8577 11.4085 12.9287C10.9961 12.9921 10.4746 13.0186 9.90137 12.831C9.55372 12.7172 9.10816 12.5654 8.53711 12.3113C6.13697 11.2428 4.56934 8.75131 4.44971 8.58665C4.33008 8.422 3.47266 7.249 3.47266 6.03471C3.47266 4.82068 4.09082 4.22373 4.31006 3.977C4.52954 3.73001 4.78882 3.66833 4.94825 3.66833C5.10767 3.66833 5.26734 3.66984 5.40674 3.67689C5.55371 3.68444 5.75098 3.61923 5.94507 4.10036C6.14454 4.59434 6.62305 5.80837 6.68287 5.93174C6.74268 6.05536 6.78247 6.19937 6.70289 6.36403C6.62305 6.52869 6.35791 6.88393 6.10474 7.20771C5.99854 7.34341 5.86011 7.46426 5.99976 7.71125C6.13916 7.95798 6.61963 8.76591 7.33082 9.42001C8.24488 10.2604 9.01587 10.5208 9.25513 10.6444C9.49415 10.7677 9.63379 10.7471 9.77344 10.5827C9.91285 10.418 10.3716 9.86237 10.531 9.61539C10.6904 9.3684 10.8501 9.40969 11.0693 9.49202C11.2888 9.5741 12.4651 10.171 12.7044 10.2944C12.9436 10.418 13.103 10.4797 13.1628 10.5827C13.2229 10.6857 13.2229 11.1794 13.0234 11.7557Z' fill='%2342C22E'/%3E%3C/svg%3E%0A"); }
  .quest__list-link--telegram:before {
    content: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4014 20C15.9242 20 20.4014 15.5228 20.4014 10C20.4014 4.47715 15.9242 0 10.4014 0C4.87852 0 0.401367 4.47715 0.401367 10C0.401367 15.5228 4.87852 20 10.4014 20Z' fill='url(%23paint0_linear_284_168)'/%3E%3Cpath d='M4.97693 9.78351L14.6186 6.06601C15.0661 5.90434 15.457 6.17517 15.312 6.85184L15.3128 6.85101L13.6711 14.5852C13.5495 15.1335 13.2236 15.2668 12.7678 15.0085L10.2678 13.166L9.06194 14.3277C8.9286 14.461 8.81611 14.5735 8.55777 14.5735L8.73527 12.0293L13.3686 7.84351C13.5703 7.66601 13.3236 7.56601 13.0578 7.74267L7.33194 11.3477L4.8636 10.5777C4.32777 10.4077 4.3161 10.0418 4.97693 9.78351Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_284_168' x1='10.4014' y1='0' x2='10.4014' y2='20' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235EB9EC'/%3E%3Cstop offset='1' stop-color='%2357AEDF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
.quest__form {
  display: flex;
  flex-direction: column;
  max-width: 300px; }
  @media (max-width: 768px) {
    .quest__form {
      max-width: none; } }
.quest__label {
  margin-bottom: 32px; }
.quest__input {
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #F8F8F8;
  color: #F8F8F8; }
  .quest__input::placeholder {
    color: rgba(196, 196, 196, 0.8);
    font-size: 14px; }
    @media (max-width: 991px) {
      .quest__input::placeholder {
        font-size: 12px; } }
.quest__button {
  margin-bottom: 16px; }
  @media (max-width: 768px) {
    .quest__button {
      min-height: 55px; } }
.quest__politic {
  font-size: 10px;
  color: rgba(196, 196, 196, 0.8);
  text-align: left; }
  @media (max-width: 768px) {
    .quest__politic {
      text-align: center; } }

.footer {
  background-color: #5F6164; }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 44px 0 44px 0;
    justify-content: space-between; }
    @media (max-width: 891px) {
      .footer__wrapper {
        flex-direction: column; } }
  .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.33% - 20px); }
    @media (max-width: 891px) {
      .footer__item {
        width: 100%; } }
    .footer__item--first {
      margin-right: 40px; }
      @media (max-width: 891px) {
        .footer__item--first {
          margin-bottom: 22px;
          order: 1; } }
    .footer__item--second {
      width: calc(25% - 20px); }
      @media (max-width: 891px) {
        .footer__item--second {
          width: 100%;
          order: 3;
          margin-bottom: 64px; } }
    .footer__item--third {
      width: calc(24% - 20px); }
      @media (max-width: 891px) {
        .footer__item--third {
          width: 100%;
          order: 2;
          margin-bottom: 50px; } }
  .footer__logo {
    margin-bottom: 130px; }
    @media (max-width: 891px) {
      .footer__logo {
        margin-bottom: 0; } }
  .footer__list {
    display: flex;
    align-items: center; }
  .footer__logo-svg {
    max-height: 47px;
    margin-bottom: 20px; }
  .footer__list-svg {
    width: 29px;
    height: 29px; }
  .footer__pol {
    font-size: 14px;
    color: #AEAEAE; }
    @media (max-width: 891px) {
      .footer__pol {
        display: none; } }
    @media (max-width: 891px) {
      .footer__pol--mob {
        display: block; } }
  .footer__keeping-items {
    text-transform: uppercase; }
    .footer__keeping-items:not(:last-child) {
      margin-bottom: 20px; }
  .footer__keeping-link {
    color: #E3E5E9;
    letter-spacing: 0.06em; }
    @media (max-width: 991px) {
      .footer__keeping-link {
        font-size: 15px; } }
  .footer__copyright {
    color: #AEAEAE;
    font-size: 14px; }
    @media (max-width: 891px) {
      .footer__copyright {
        display: none; } }
    @media (max-width: 891px) {
      .footer__copyright--mob {
        display: block;
        margin-bottom: 15px; } }
  .footer__contacts {
    display: flex;
    flex-direction: column; }
  .footer__tel {
    color: rgba(251, 252, 255, 0.99);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px; }
    @media (max-width: 991px) {
      .footer__tel {
        font-size: 15px; } }
  .footer__mail {
    margin-bottom: 12px;
    color: rgba(251, 252, 255, 0.7);
    font-size: 14px;
    text-decoration: underline; }
    @media (max-width: 991px) {
      .footer__mail {
        font-size: 12px; } }
  .footer__location {
    font-size: 14px;
    color: rgba(251, 252, 255, 0.7); }
    @media (max-width: 991px) {
      .footer__location {
        font-size: 12px; } }
  .footer__bottom-mob {
    display: none; }
    @media (max-width: 891px) {
      .footer__bottom-mob {
        display: block;
        order: 4; } }

/*# sourceMappingURL=main.css.map */
