.device
  &__title-wrapper
    margin-bottom: 67px

  &__items
    display: flex
    align-items: stretch
    gap: 60px
    &--reverse
      flex-direction: row-reverse

  &__block
    width: calc(50% - 30px)
    min-height: 430px
    &--img
      background-image: url("../img/device/1.jpg")
      background-repeat: no-repeat
      border-top-right-radius: 42px
      border-bottom-left-radius: 42px
      background-size: cover
      overflow: hidden

  &__item-wrapper
    display: flex
    flex-direction: column
    gap: 96px
    margin-bottom: 80px

  &__items-title
    margin-bottom: 19px
    color: #4E5052
    text-transform: uppercase
    line-height: 34px

  &__list-title
    margin: 20px 0 7px 0
    font-weight: 600

    &--not-list
      margin-bottom: 24px

  &__list
    margin-bottom: 24px

  &__list-items
    display: flex
    align-items: center
    &:before
      display: inline-block
      content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23C1B49B'/%3E%3C/svg%3E%0A")
      margin-right: 9px
      transform: translateY(-3px)
    &:not(:last-child)
      margin-bottom: 5px

  &__text
    &--space
      margin-bottom: 15px

.img-2
  background-image: url("../img/device/2.jpg")

.img-3
  background-image: url("../img/device/3.jpg")

.img-4
  background-image: url("../img/device/4.jpg")


