*
  padding: 0
  margin: 0

body
  box-sizing: border-box
  font-family: 'Manrope', sans-serif
  color: #747679
  font-weight: 400

button, textarea, input
  border: none
  outline: none

a
  text-decoration: none
  color: #747679

li
  list-style: none

h1,h2,h3,h4,h5,h6
  font-family: 'Jost', sans-serif
  font-weight: 400

h1,h2
  color: #4E5052

h1,h2
  font-size: 48px

h3
  font-size: 24px

a,li,p,button
  font-size: 16px

p
  line-height: 24px

img
  width: 100%

.container
  max-width: 1160px
  margin: 0 auto

.title-wrapper
  display: flex
  align-items: center

.line
  height: 3px
  background-color: #C1B49B
  flex: 1 auto
  margin-left: 20px

.button
  display: inline-flex
  align-items: center
  color: white
  background: #AA9C85
  border-radius: 7px
  padding: 13px 40px

