.hero
  &__title
    text-transform: uppercase
    letter-spacing: 0.02em
    margin-bottom: 15px
  &__title-letter
    color: #9DA0A6

  &__wrapper
    display: flex
    justify-content: space-between

  &__button-wrapper
    z-index: 100

  &__text
    font-size: 20px

  &__button
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #C5B9A5
    border-radius: 50%
    background-color: white
    min-width: 185px
    min-height: 185px
    cursor: pointer

    &:hover .hero__button-text
      background-color: #C1B49B

  &__button-text
    position: relative
    display: flex
    align-items: center
    justify-content: center
    min-width: 165px
    min-height: 165px
    background-color: #AA9C85
    color: white
    border-radius: 50%
    transition: background .5s

  &__button-figure
    position: absolute
    bottom: -23px
    left: -70px
    z-index: -1

  &__button-path
    fill: white

  &__button-figure
    pointer-events: none


