.hero
  @media (max-width: 768px)
    text-align: center
  &__title
    text-transform: uppercase
    letter-spacing: 0.02em
    margin-bottom: 15px
    @media (max-width: 375px)
      font-size: 20px
  &__title-letter
    color: #9DA0A6

  &__wrapper
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    @media (max-width: 768px)
      flex-direction: column
      align-items: center

  &__button-wrapper
    z-index: 100

  &__text
    font-size: 20px
    max-width: 660px
    line-height: 1.6
    @media (max-width: 991px)
      font-size: 15px
      max-width: none
    @media (max-width: 768px)
      margin-bottom: 20px







