.photo
  &__title-wrapper
    margin-bottom: 67px
  &__title
    text-transform: uppercase
  &__title-letter
    color: #9DA0A6

  &__wrapper
    display: flex
    flex-wrap: wrap
    gap: 10px


  &__items
    width: calc(25% - 7.5px)