.quest
  &__border
    border: 3px solid #56585B
    border-bottom-left-radius: 48px
    border-top-right-radius: 48px
    padding: 10px
    margin-bottom: $mb

  &__wrapper
    padding: 79px 110px 65px 99px
    background-color: #56585B
    border-bottom-left-radius: 48px
    border-top-right-radius: 48px

  &__title
    font-size: 40px
    color: #EDE6D8
    line-height: 1.4
    text-align: left
    margin-bottom: 31px

  &__items-wrapper
    display: flex
    justify-content: space-between

  &__item
    display: flex
    flex-direction: column
    width: calc(50% - 60px)
    &--contact
      flex: 1
      max-width: 474px
    &--form
      align-items: flex-end

  &__item-text
    font-size: 20px
    color: #F8F8F8
    margin-bottom: 44px

  &__list-item
    &:not(:last-child)
      margin-bottom: 25px

  &__list-link
    display: flex
    align-items: center
    color: #F8F8F8
    font-size: 20px
    &:before
      content: ''
      width: 20px
      height: 20px
      margin-right: 11px
    &--tel
      &:before
        content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23EDE6D8'/%3E%3Cpath d='M13.7985 11.6098C13.4486 11.2644 13.0118 11.2644 12.6641 11.6098C12.3989 11.8728 12.1337 12.1357 11.873 12.4032C11.8016 12.4767 11.7415 12.4923 11.6546 12.4433C11.483 12.3497 11.3002 12.2739 11.1353 12.1714C10.3664 11.6878 9.72234 11.066 9.15181 10.3662C8.86877 10.0186 8.61694 9.64637 8.44088 9.22739C8.40522 9.1427 8.41191 9.08699 8.48099 9.0179C8.7462 8.76161 9.00472 8.49863 9.26547 8.23565C9.62874 7.87016 9.62874 7.44226 9.26324 7.07454C9.05598 6.86505 8.84872 6.66001 8.64145 6.45052C8.42751 6.23658 8.21579 6.0204 7.99961 5.80868C7.64972 5.4677 7.21291 5.4677 6.86524 5.81091C6.59781 6.07389 6.34151 6.34355 6.06962 6.60207C5.81779 6.84053 5.69075 7.13248 5.66401 7.47346C5.62167 8.02839 5.75761 8.55212 5.94928 9.06247C6.34151 10.1188 6.93878 11.0571 7.66309 11.9173C8.64145 13.0807 9.80925 14.0011 11.1754 14.6652C11.7905 14.9639 12.4279 15.1934 13.121 15.2313C13.5979 15.258 14.0124 15.1377 14.3445 14.7655C14.5718 14.5115 14.8281 14.2797 15.0688 14.0368C15.4254 13.6757 15.4276 13.2389 15.0733 12.8823C14.6498 12.4567 14.2242 12.0332 13.7985 11.6098Z' fill='%239A927D'/%3E%3C/svg%3E%0A")

    &--whatsapp
      &:before
        content: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3418 0.0229492C3.95142 0.0229492 0.38086 3.70357 0.378907 8.22788C0.378418 9.77828 0.799317 11.2881 1.59595 12.5946L1.78516 12.905L0.980958 15.9331L3.99341 15.1183L4.28418 15.2961C5.50611 16.0438 6.90699 16.4394 8.33521 16.4399H8.33838C12.7254 16.4399 16.2959 12.759 16.2979 8.23443C16.2986 6.04176 15.4714 3.98027 13.9688 2.42937C12.4661 0.878464 10.4675 0.0237045 8.3418 0.0229492ZM13.0234 11.7557C12.824 12.3317 11.8682 12.8577 11.4085 12.9287C10.9961 12.9921 10.4746 13.0186 9.90137 12.831C9.55372 12.7172 9.10816 12.5654 8.53711 12.3113C6.13697 11.2428 4.56934 8.75131 4.44971 8.58665C4.33008 8.422 3.47266 7.249 3.47266 6.03471C3.47266 4.82068 4.09082 4.22373 4.31006 3.977C4.52954 3.73001 4.78882 3.66833 4.94825 3.66833C5.10767 3.66833 5.26734 3.66984 5.40674 3.67689C5.55371 3.68444 5.75098 3.61923 5.94507 4.10036C6.14454 4.59434 6.62305 5.80837 6.68287 5.93174C6.74268 6.05536 6.78247 6.19937 6.70289 6.36403C6.62305 6.52869 6.35791 6.88393 6.10474 7.20771C5.99854 7.34341 5.86011 7.46426 5.99976 7.71125C6.13916 7.95798 6.61963 8.76591 7.33082 9.42001C8.24488 10.2604 9.01587 10.5208 9.25513 10.6444C9.49415 10.7677 9.63379 10.7471 9.77344 10.5827C9.91285 10.418 10.3716 9.86237 10.531 9.61539C10.6904 9.3684 10.8501 9.40969 11.0693 9.49202C11.2888 9.5741 12.4651 10.171 12.7044 10.2944C12.9436 10.418 13.103 10.4797 13.1628 10.5827C13.2229 10.6857 13.2229 11.1794 13.0234 11.7557Z' fill='%2342C22E'/%3E%3C/svg%3E%0A")

    &--telegram
      &:before
        content: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4014 20C15.9242 20 20.4014 15.5228 20.4014 10C20.4014 4.47715 15.9242 0 10.4014 0C4.87852 0 0.401367 4.47715 0.401367 10C0.401367 15.5228 4.87852 20 10.4014 20Z' fill='url(%23paint0_linear_284_168)'/%3E%3Cpath d='M4.97693 9.78351L14.6186 6.06601C15.0661 5.90434 15.457 6.17517 15.312 6.85184L15.3128 6.85101L13.6711 14.5852C13.5495 15.1335 13.2236 15.2668 12.7678 15.0085L10.2678 13.166L9.06194 14.3277C8.9286 14.461 8.81611 14.5735 8.55777 14.5735L8.73527 12.0293L13.3686 7.84351C13.5703 7.66601 13.3236 7.56601 13.0578 7.74267L7.33194 11.3477L4.8636 10.5777C4.32777 10.4077 4.3161 10.0418 4.97693 9.78351Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_284_168' x1='10.4014' y1='0' x2='10.4014' y2='20' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235EB9EC'/%3E%3Cstop offset='1' stop-color='%2357AEDF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")

  &__form
    display: flex
    flex-direction: column
    max-width: 300px

  &__label
    margin-bottom: 32px
  &__input
    width: 100%
    padding-bottom: 4px
    border-bottom: 1px solid #F8F8F8
    color: #F8F8F8
    &::placeholder
      color: rgba(196, 196, 196, 0.8)
      font-size: 14px

  &__button
    margin-bottom: 16px

  &__politic
    font-size: 10px
    color: rgba(196, 196, 196, 0.8)
    text-align: left
